/* .input {
  background-color: rgba(27, 112, 137, 1);
  border: 0;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
} */
/* .button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(202, 156, 24, 1);
  cursor: pointer;
} */
/* .edt-btn {
  background-color: darkorange;

  color: white;
  font-size: 12px;
   display: flex; 
   padding: 4px 4px; 
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
  margin-top: 10px;
}
.dlt-btn {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 4px 6px;
  display: flex; 
  border-radius: 3px;
  margin: 10px 0px;
  cursor: pointer;
  border: none;
} */
.list {
  color: #fff;
  width: 300px;
  margin: 20px auto;
  height: 50px; 
  background-color: #bf07ac;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px;
}
/* .clr-btn {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: darkred;
  cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer-btn {
  height: 40px;
  width: 80px;
  bottom: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
} */
